@import "normalize.css";

body {
  background-color: #3a4965;
  width: 100%;
  padding: 25px 0;
  font-family: Arimo, "Courier New", sans-serif;
}

.table {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  border-collapse: collapse;
  border-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  color: #848484;
}

table, td, th {
  height: 67px;
}

.own-items-2 {
  border-left: 2px solid rgba(17, 17, 17, 0.05);
}

.standart-items {
  box-shadow: 0px 1px 1px #3a4965;
}

.column-name-white {
  background-color: #fafafa;
  width: 308px;
  height: 156px;
  color: #484848;
  font-size: 18px;
}

.pricing-plan {
  font-size: 30px;
}

.column-name-green {
  background-color: #89c331;
  font-size: 24px;
  color: #fff;
}

.column-name-red {
  background-color: #f04a56;
  font-size: 30px;
  color: #fff;
}

.column-name-blue {
  background-color: #20807c;
  font-size: 24px;
  color: #fff;
}

.prices-row {
  background-color: #fafafa;
  text-align: center;
  color: #484848;
  border-style: none;
}

.money-size {
  font-size: 60px;
  font-weight: bold;
}

.sup {
  font-size: 24px;
  top: -1em;
  font-weight: bold;
}

.prices-text {
  font-size: 18px;
  position: relative;
  right: 33px;
}

.storage, .mail, .products {
  background-color: #f2f2f2;
}

.bandwidth, .support, .users {
  background-color: #e3e3e3;
}

.buy-now {
  background-color: #eeeeee;
  padding: 30px 60px;
}

button {
  width: 190px;
  height: 50px;
  border-style: none;
  margin: 30px 60px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  padding-top: 18px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  opacity: 0.8;
}

.contact-us-background {
  background-color: #dddddd;
}

.contact-us {
  background-color: #484848;
  box-shadow: 0px 9px 1px #404040;
}

.buy-green {
  background-color: #89c331;
  box-shadow: 0px 9px 1px #79b027;
}

.buy-red-background {
  background-color: #f4f4f4;
}

.buy-red {
  background-color: #f04a56;
  box-shadow: 0px 9px 1px #df3a46;
}

.buy-blue {
  background-color: #20807c;
  box-shadow: 0px 9px 1px #16736f;
}
